@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img,
  video,
  picture {
    @apply w-full;
  }

  section {
    @apply relative overflow-hidden;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter-sans), Helvetica, sans-serif;
}

[data-scrollbar='hide'] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

[data-scrollbar='hide']::-webkit-scrollbar {
  @apply hidden;
}
